
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
li.active {
	opacity:.75;
}

.hidden{
	display:none;
}
@font-face {
	font-family:luzern;
	src:url(../images/Luzern-Regular.otf);
}
/************************************Splash Page Things******************************************/
#splash { 
  background: url(../images/Login_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#splashForm
{
	width: 235px;
	display: block;
	margin: 0 auto;
	margin-top:2.5%;
}


.logo{
	display: block;
	margin: 0 auto;
	margin-top:10%;
	width:20%;
}
.slogan{
	font-family:luzern;
	font-weight:lighter;
	text-transform:uppercase;
	text-align:center;
	display: block;
	margin: 0 auto;
	color:#FFF;
	font-size:18px;
}
#register{
	background-color:#FFF;
}

#splashForm button{
	width:220px;
	height:35px;
	border:none;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 2px;
	-webkit-box-shadow: 0 -1px -.5px #FFF;
	-moz-box-shadow: 0 -1px -.5px #FFF;
	box-shadow: 0 -1px -.5px #FFF;

}
#login{
background-color:#ff9a00;
color:#fff;
-webkit-box-shadow: 0 -1px -.5px #ff9a00;
-moz-box-shadow: 0 -1px -.5px #ff9a00;
box-shadow: 0 -1px -.5px #ff9a00;
	
}
 .button {
	display:none;
	width:120px;
	background-color:white;
	color:black;

}

/******************************************************/

/*landing header css*/
.navbar .nav {
	float:right !important;
	top: -15px;
	
	}
	
.navbar .brand {
	background-image:url(../images/logo_o.png);
	width:205px;
	height:46px;
	background-repeat:no-repeat;
	text-indent:-9999px;
	margin-top:10px;
	}


body { 
  background-color:#f1f0e6;
}	

.tag{
	font-family:'luzern', Helvetica, sans-serif;
	color:#57d0c0;
	font-size:30px;
	text-transform:uppercase;
	position: relative;
	top: 30px;
	

	}

ul.nav {
	font-size:25px;
}

	
a{
	color:#ff9a00 !important;}	
	
a:hover{
	color:#ffce6c !important;
	}	



li.active {
	opacity:.75;
}



#current_project{
	height:200px;
	background:#fff;
	
	}
	
.p_header{
	background:#ff9a00;

	}	

h1, h2, h3{
	font-family: 'luzern', Helvetica, sans-serif;
	color: #fff;
	padding: 5px 17px;
	text-transform:uppercase;
	padding: 10px 0px 5px 15px;
	}
	
h2{
	font-size:25px;
	}	
	
h3{
	font-size:15px;
	}	

.selected_course{
	color:#777;
	font-size:36px;
	text-transform:capitalize;
	
	}
.quarter_col {
	width: 25%;
}
	
.half_col{
	width:50%;
	float: left;
	
	}	
	
	
.align_right {
	text-align: right;
	float: right;
	font-size: 15px;
	margin-right: 15px;
	text-transform:none;
}

.bigger {
font-size: 25px;
position: relative;
top: 3px;
}

button{
	color: #fff;
	background-color: #ff9a00;
	border: none;
	//margin-left: 15px;
	}
button.view {
	margin-left: 15px;
}
button#register {
	 color: black;
}
.see_all {
    color: #000;
    background-color: #CCC;
    padding: 5px 15px;
    float: right;
    margin-top: 10px;
}
.profile{
	border-radius:50%;
	background-color:#e4e4e4;
	width:75px;
	height:75px;
	float:right;
	margin:25px 10px;
}	

/*Dashboard*/
.deadline {
	margin-left: 15px;
	color: orange;
}
.url {
	margin-left: 15px;
	font-weight: normal;
	color: #CCC;
}

h2.p_header {
	margin-top: 50px;
}

span.diary_title {
	color: #57d0c0;
	//padding-left: 15px;
}
#daily_achievements {
	background: white;
}
#daily_achievements p {
	padding-left: 15px;
}