<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> <!--JQuery Link-->
  <link href="static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!--Bootstrap css Link-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/css.css" rel="stylesheet" media="screen"> <!--Bootstrap css Link-->
    
  <script src="bootstrap/js/bootstrap.min.js"></script> <!--Bootstrap js Link-->  <title>Code++ Place to Learn with Friends!</title>
  <script type= "text/javascript" src= "static/js/splash.js"></script>
  <script type= "text/javascript" src= "static/js/global.js"></script>

</head>

<body id = "splash">
<!--Image logo-->
<img class="logo" src="static/images/Logo.png">
<h2 class = "slogan">A Place to Learn with Friends</h2>
<!--Log in Form-->
<form id = "splashForm">
  <div>
    <label class="hidden">Enter Email</label>
    <input type="email" placeholder="Enter email">
  </div>
  <div>
    <label class="hidden">Password</label>
    <input type="password" placeholder="Password">
  </div>
<!--Buttons (divs for possible later adjustment)-->
  <div id = "regs">

  <a href="dashboard.html"><button type="button" id="login" >Login</button></a>
  <button type="button" class="button">HTML</button> <button type="button" class="button">CSS</button>
   <button type="button" class="button">Javascript</button> <button type="button" class="button">PHP</button>
  </div>
  <div>
  <button type="button" id="register" >Register</button>
  </div>
</form>
  <script = "text/javascript">
  $(document).ready(function(){
    $("#register").click(function(){

    //alert($(".Tile".css('background-color')));
    $("#login").slideToggle();
    $(".button").slideToggle();
    
});
    
});
  </script>
</body>

</html>
